
/*
.navbar{
	background: rgb(219, 33, 33);
}
.nav-item{
	padding-left: 5px;
	font-size: 19px;
}
.nav-link{
	text-transform: uppercase;
}
*/
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  padding-top: 56px;
}
small{
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.bold-text{
    color: #989c9e !important;
}
 

.mt-55{
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important; 
}


h3{
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important; 
}
 
.social{
    font-size: 21px !important; 
}

.rights{
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important; 
}

.cards-wrapper {
	display: flex;
	justify-content: center;
  }
  .card img {
	max-width: 100%;
	height: 250px;
  }
  .card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
	border-radius: 0;
  }

  .featured-box {
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    z-index: 1;
}
.featured-box img{
	right: 15px;
}
.featured-box .box-content {
    border-top: 8px;
    padding: 20px 15px ;
    position: relative;
    top: 25px;
	margin-top: 20px;
	text-align: justify;
}
.box-content h4{
	text-align: center;
}
.flexbox {display: flex;}

@media (max-width: 767px) {
	.flexbox{
		display: table;
	}
	div[class*='item']{
	    margin-top: 20px;
	}
}

ul li {
  list-style: none;
  text-align: left;
}

@media only screen and (max-width:960px)
{
	.navbar-brand{
		padding-left:0;
	}
}
@media only screen and (max-width:760px)
{
	#banner-row img{
		padding-top:20px;
	}
	.social-col{
		width: 33%;
	}
}
 
  @media (min-width: 768px) {
	.card img {
	  height: 11em;
	}
  }
.carousel-item img{
	background-size: cover;
	height: 400px;
	width: cover;



}
/* .showcase{
	background-size: cover;
} */
/* .carousel-img-1{
	background: url('../images/study_2.jpg');
	background-size: cover;
	height: 400px;
	width: 390px;
}
.carousel-img-2{
	background: url('../images/study_3.jpg');
	background-size: cover;
	height: 400px;
	width: 390px;
}
.carousel-img-3{
	background: url('../images/study_5.jpg');
	background-size: cover;
	height: 400px;
	width: 390px;
} */

.size{
	font-size: 50px;
}

#getStarted{
	position: relative;
	background: url('../assets/images/p4.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	background-repeat: no-repeat;
	min-height: 250px;
}
.darkoverlay{
	background: rgb(0,0,0,0.7);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
#videoicon{
	position: relative;
	background: url('../assets/images/p2.jpg');
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	background-repeat: no-repeat;
	min-height: 250px;
}


	.img{
		min-height: 235px;
	}

	#header-page{
		background: url('../assets/images/study_2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		background-attachment: fixed;
	}
	.about-img{
		width: 300px;
		height: 300px;
	}

#service-page{
		background: url('../assets/images/study_2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		background-attachment: fixed;
	}
#blog-page{
		background: url('../assets/images/p6.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 250px;
		background-attachment: fixed;
	}
#contact-page{
	background: url('../assets/images/p2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 250px;
	background-attachment: fixed;
}


@media(max-width: 768px){

	.nav-item{
		padding-left: 0 !important;
		line-height: 19px;
	}
}



/*================================================ 
				biddabd global 
=================================================*/



#top_section_left{
	padding-top: 15px  !important;
}
#top_section_center{
	font-size: 21px;
	margin-left: 200px !important;
}

#top_section_right{
	padding-top: 15px  !important;
	float: right;
	padding-left: 100px !important;
}
#top_section_select{
	width: 180px;
}
#logo_bbg{
	height: 50px;
}
#nav_id{
	font-size: 17px !important;
}
.nav_id_link{
	color:#fff;font-size:17px
}

#welcome_section{
	background: #22B7E7;
}
#study_img_icon{
	margin-left: 72px !important;
	margin-top: -60px !important;
}

#study_abroad{
	
	height: 200px;
}

#counter_box{
	width: 300px;
	height: 130px;
	margin-left: 10px;
	border: 2px solid #000;
	padding-top: 15px !important;
	font-weight: bold;
	margin-bottom: 15px;
}

#home_event_img{
	height: 250px;
}
#news_event_img{
	height: 350px;
}
#update{
	padding-left: 200px;
}


/*=================== dropdown ====================*/


#dropdown_menu_event{
	width: 1200px;
	height: 400px;
	padding-right: 30px;
	padding-left: 30px;
	margin-left: -300px;
}

#event_first_img{
	height: 350px;
	width: 400px;
}
#event-second_img{
	height: 350px;
	width: 400px;
}

